* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 251, 140);
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    margin: 20px;
}

section p {
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 101, 5);
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    padding: 5px;
}

a:hover {
    background-color: rgb(0, 51, 3);
}

table {
    border: 1px solid black;
    width: 70%;
    margin: 40px auto;
    height: 50vh;
}

td,
th {
    border: 1px solid black;
    text-align: center;
}

.media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

video,
iframe {
    display: block;
    margin: 30px auto;
}

.podcasts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.podcasts p {
    width: 100%;
    text-align: left;
}

audio {
    margin: 50px 0;
}

footer {
    background-color: rgb(135, 251, 140);
    padding: 2%;
    text-align: center;
}