svg {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

ellipse:nth-child(1) {
  fill: none;
  stroke: black;
  stroke-width: 3;
  transform: rotate(30deg);
  transform-origin: start;
}

ellipse:nth-child(2) {
  fill: none;
  stroke: black;
  stroke-width: 3;
  transform: rotate(-30deg);
  transform-origin: start;
}

ellipse:nth-child(3) {
  fill: none;
  stroke: black;
  stroke-width: 3;
}