* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/imgs/kekw.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header,
main {
    text-align: center;
}

header {
    padding: 10px;
    color: rgb(255, 111, 212);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

p {
    padding: 5px;
    font-weight: bold;
}

.botonsito {
    background-color: pink;
    color: black;
    border: 1px solid black;
    height: 30px;
    width: 115px;
    border-radius: 5px;
}

.botonsito:hover {
    background-color: rgb(255, 107, 131);
    box-shadow: inset 1px 1px 5px;
}