@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main: #ff2e63;
  --dark: #252a34;
  --third: #08d9d6;
  --gray: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--gray);
  position: relative;
  background: linear-gradient(to top, var(--dark), #252a34d0),
    url(../img/code.jpeg) no-repeat center / cover;
}

a {
  text-decoration: none;
  color: var(--main);
  font-weight: bold;
}

/* Fondo oscuro con menú abierto */
.dark-bg {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  opacity: 0;
  width: 0;
}

.visible {
  opacity: 0.7;
  width: 100vw;
  transition: opacity ease-in 0.5s;
  display: block;
}

/* MENU */
.menu ul {
  list-style: none;
}

.menu-mob {
  position: fixed;
  z-index: 700;
  left: -100vw;
  top: 0;
  background: var(--dark);
  height: 100vh;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: all 1s;
}

.menu-open {
  width: 100vw;
  left: 0;
  transition: all 1s;
}

.menu-mob li {
  margin: 20px 0;
}

.top-bar {
  height: 50px;
  background: var(--dark);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 900;
  box-shadow: 0 0 12px var(--main);
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* CARD */
.card {
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 12px var(--main);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.card header {
  border-radius: 10px 10px 0 0;
  background: var(--dark);
  padding: 15px;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

i:not(.heart) {
  margin-right: 5px;
}

.card header i {
  color: var(--main);
}

.card main {
  max-width: 150px;
  margin: auto;
}

.subject {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.subject i {
  font-size: 1.5rem;
}

.mark {
  color: var(--main);
  font-weight: 700;
  font-size: 1.7rem;
}

.card footer {
  background: var(--third);
  text-align: center;
  padding: 8px 0;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  border-radius: 0 0 10px 10px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  min-height: calc(100vh - 140px);
  align-content: center;
}

.astronaut img {
  /* Imágenes responsive (la forma clásica, importante para el test de la lección) */
  /* max-width: 100%;
  height: auto; */
  /* ---------------------------------------------------------------------------- */

  /* Otra opción para imágenes responsive */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ----------------------------------- */

  border-radius: 10px;
}

footer {
  height: 50px;
  background: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

footer i {
  color: var(--main);
  margin-left: 5px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px) {
  .menu-open {
    width: 420px;
  }
}

@media only screen and (min-width: 900px) {
  .menu-open {
    width: 0px;
    left: -420px;
  }

  .dark-bg {
    display: none;
  }

  .top-bar {
    display: none;
  }

  .menu-mob {
    position: static;
    height: 50px;
    width: 100vw;
    transition: none;
    box-shadow: 0 0 12px var(--main);
  }

  .menu-mob ul {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (orientation: landscape) {
  /* Podemos cambiar la posición de los CTA para facilitar el click del usuario que pasará a usar las 2 manos sobre el móvil  */
}
