<!-- <span *ngIf="user.age >= 18; else PRUEBA">{{ user.name }}</span>
<ng-template #PRUEBA> El usuario es menor de edad </ng-template> -->
<!-- <ng-container *ngIf="user.age >= 18">{{ user.name }}</ng-container> -->

<!-- <div [ngSwitch]="user.age">
  <div *ngSwitchCase="18">El usuario es mayor de edad con la edad justa</div>
  <div *ngSwitchCase="19">El usuario tiene 19 años</div>
  <div *ngSwitchDefault>El resto de valores</div>
</div> -->

<!-- {{ users | json }} -->

<!-- <div class="users-list">
  <ng-container *ngFor="let item of users">
    <div *ngIf="item.age >= 18">
      Nombre: {{ item.name }}
      <br />
      Apellido: {{ item.surname }}
      <br />
      Edad: {{ item.age }} <br /><br />
    </div>
  </ng-container>
</div> -->

<!-- <div class="users-list">
  <ng-container *ngFor="let item of users">
    <div
      [ngClass]="{
        fail: item.grade < 5,
        prueba: item.name === 'Juan',
        pass: item.grade >= 5
      }"
    >
      Nombre: {{ item.name }}
      <br />
      Apellido: {{ item.surname }}
      <br />
      Edad: {{ item.age }} <br /><br />
    </div>
  </ng-container>
</div> -->

<button appGreenOver>Presiona aquí</button>
