@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

$font: "Montserrat", sans-serif;

$bg-color: #2c394b;
$light: #88b2ec;
$dark: #030c13;
$white: #fff;
$orange: #ff4c29;
$orange-light: #ff785d;
$fluor: #d0ff00;
